<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Magic The Gathering Helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top nav-main" style="background-color: #5691BB;">
        <div class="container nav-main" style="background-color: #5691BB;">
            <div class="navbar-header nav-main" style="background-color: #5691BB;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MTG Helper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:white;" })
            </div>
            <div class="navbar-collapse collapse nav-main" style="background-color: #5691BB;">
                <ul class="nav navbar-nav nav-main" style="background-color: #5691BB;">
                    <li>@Html.ActionLink("Cards", "ViewAllCards", "Cards", new { page = 1 }, new { style = "color:white;" })</li>
                    
                    <li>@Html.ActionLink("Decks", "ViewAllDecks", "Decks", new { page = 1 }, new { style = "color:white;" })</li>
                    <li>@Html.ActionLink("Matches", "ViewAllMatches", "Matches", new { page = 1 }, new { style = "color:white;" })</li>
                    <li>@Html.ActionLink("My Stuff", "MyStuff", "MyStuff", new { page = 1 }, new { style = "color:white;" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - .NET III Final Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
