@model DataObjects.DeckCard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditCard", "MyStuff", FormMethod.Post))
{
    <div class="text-center">
        <div class="justify-content-between">
            <h2>Edit Card Count</h2>
        </div>
        <hr />
        <dl>

            <dt>
                @Html.HiddenFor(model => model.DeckID)
                @Html.HiddenFor(model => model.CardID)
            </dt>

            <dt>
                Deck Name
            </dt>

            <dd>
                @ViewBag.Title

            </dd>


            <dt>
                <br />
                Card Count
            </dt>

            <dd>
                @*<input type="checkbox" id="isOwned" name="IsOwned" class="chkclass" value="@Model.IsOwned" />*@
                @Html.EditorFor(model => model.CardCount)
            </dd>
            @Html.ValidationMessageFor(model => model.CardCount)
        </dl>
        <br />
        @*onclick="location.href='@Url.Action("EditCardDetails", "Cards", new { cardID = Model.CardID, owned = Model.IsOwned, wishlisted = Model.IsWishlisted })'"*@
        <input type="submit" value="Save" class="btn-primary" name="save" id="save" />
        <input type="submit" value="Cancel" class="btn-danger" name="cancel" id="cancel" formnovalidate="formnovalidate" />
        <input type="hidden" value="@Model.CardCount" name="count" id="count"/>
        <input type="hidden" value="@ViewBag.Title" name="title" id="title"/>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}