@model DataObjects.Match
@{
    ViewBag.Title = "ViewAllDecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditMyMatch", "MyStuff", FormMethod.Post))
{
    <div class="text-center">
        <div class="justify-content-between">
            <h2>Edit @Html.DisplayFor(model => model.MatchName)</h2>
        </div>
        <hr />
        <dl>

            <dt>
                @Html.HiddenFor(model => model.MatchID)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.MatchName)
            </dt>

            <dd>
                @Html.EditorFor(model => model.MatchName)

            </dd>
            @Html.ValidationMessageFor(model => model.MatchName)

            <dt>
                <br />
                @Html.DisplayNameFor(model => model.IsPublic)
            </dt>

            <dd>
                @*<input type="checkbox" id="isOwned" name="IsOwned" class="chkclass" value="@Model.IsOwned" />*@
                @Html.CheckBoxFor(model => model.IsPublic)
            </dd>
        </dl>
        <br />
        @*onclick="location.href='@Url.Action("EditCardDetails", "Cards", new { cardID = Model.CardID, owned = Model.IsOwned, wishlisted = Model.IsWishlisted })'"*@
        <input type="submit" value="Save" class="btn-primary" name="save" id="save" />
        <input type="submit" value="Cancel" class="btn-danger" name="cancel" id="cancel" formnovalidate="formnovalidate"/>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}