@model MVCPresentation.Models.MatchViewModel
@{
    ViewBag.Title = "ViewAllMatches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Your Matches</h1>

@Html.ActionLink("Create Match", "CreateMatch", "MyStuff", null, new { @class = "btn btn-primary", style = "float:right;" })

<table class="table">
    @if (TempData["Message"] != null)
    {
        <caption>@TempData["Message"]</caption>
    }
    <thead>
        <tr>
            <th scope="col">Match Name</th>
            <th scope="col">Is Public</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataObjects.MatchVM match in Model.Matches)
        {
            <tr>
                <td>@Html.ActionLink(match.MatchName, "ViewMyMatchDetails", "MyStuff", new { matchID = match.MatchID, matchName = match.MatchName }, null)</td>
                @if (match.IsPublic)
                {
                    <td><input type="checkbox" disabled checked /></td>
                }
                else
                {
                    <td><input type="checkbox" disabled /></td>
                }
                <td>
                    @Html.ActionLink("Edit", "EditMyMatch", "MyStuff", new { matchID = match.MatchID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "DeleteMatch", "MyStuff", new { confirm = true, matchID = match.MatchID, matchName = match.MatchName }, new { onclick = "return confirm('Do you really want to delete this match?')", @class = "btn btn-danger" })
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ViewMyMatches", new { page = x }))
</div>