@model MVCPresentation.Models.CardViewModel
@{
    ViewBag.Title = "ViewAllDecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddCardToDeck", "Cards", FormMethod.Post))
{
<div class="text-center">
    <div class="justify-content-between">
        <h2>Add @Model.Card.CardName to deck</h2>
    </div>
    <hr />
    @if (TempData["Message"] != null)
    {
        <caption>@TempData["Message"]</caption>
    }
    <dl>

        <dt>
            Deck
        </dt>
        @Html.HiddenFor(model => model.Card.CardID)
        <dd>
            @Html.DropDownListFor(x => Model.SelectedDeck, new SelectList(Model.Decks, "DeckID", "DeckName"), htmlAttributes: new { @class = "btn btn-default" })

        </dd>


        <dt>
            <br />
            Amount
        </dt>

        <dd>
            @*<input type="checkbox" id="isOwned" name="IsOwned" class="chkclass" value="@Model.IsOwned" />*@
            @Html.EditorFor(model => model.Amount)
        </dd>
    </dl>
    <br />
    @*onclick="location.href='@Url.Action("EditCardDetails", "Cards", new { cardID = Model.CardID, owned = Model.IsOwned, wishlisted = Model.IsWishlisted })'"*@
    <input type="submit" value="Save" class="btn-primary" name="save" id="save" />
    <input type="submit" value="Cancel" class="btn-danger" name="cancel" id="cancel" formnovalidate="formnovalidate" />
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}